<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="../static/imgs/favicon.ico" />
		<title>Flask Apps</title>
		<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
        
	</head>

	<body>
		<h1>Proyectos en Flask</h1>
		<p>
			Podemos codificar el  
            <a href="https://es.wikipedia.org/wiki/Front_end_y_back_end">backend</a>
             de nuestro sitio en 
            <strong>Python</strong> y se mostrará en la web.
		</p>
		<ol>
			<li><a href="/prime">Generador de números primos</a></li>
			<li><a href="/galton">Galton Board</a></li>
		</ol>
	</body>
</html>